akismet

amqp

appdirs

asgiref

atomicwrites

backports.weakref
backports.zoneinfo

billiard
bkcharts
black

brotlipy

celery
certifi

click-didyoumean
click-plugins
click-repl
clyent

comtypes
conda

constantly
cssselect

cytoolz
daal4py

datashape
setuptools
Django
django-appconf
django-bootstrap4-form
django-ckeditor
django-crispy-forms
django-helpdesk
django-js-asset
django-model-utils
django-reversion
django-user-accounts
djangorestframework

email-reply-parser

et-xmlfile

fonttools


future
gunicorn
h5py

inflection

jupyter

kombu

llvmlite
mccabe
mediapipe

mistune
mkl-fft

mkl-service

mpmath

multipledispatch
munkres
mypy-extensions

opencv-contrib-python

pathspec
patsy
pep8

Pillow
pinax-invitations
pinax-teams

protobuf

pyasn1-modules


pycurl
PyDispatcher

pyls-spyder

pyreadline

pytest=

python-lsp-jsonrpc
python-lsp-server

pytz

pywin32
pywin32-ctypes

PyYAML

queuelib


simplejson
sip

sqlparse

statsmodels

tables
tabulate
TBB

tzdata

vine

webencodings

whitenoise

win-unicode-console
wincertstore
wrapt

xlwings

zict
