akismet

amqp

appdirs

asgiref

atomicwrites

backports.weakref
backports.zoneinfo

billiard
bkcharts
black

brotlipy

celery
certifi

click-didyoumean
click-plugins
click-repl
clyent

comtypes

constantly
cssselect

cytoolz
daal4py

datashape

Django
django-appconf
django-bootstrap4-form
django-ckeditor
django-crispy-forms

django-js-asset
django-model-utils
django-reversion
django-user-accounts


email-reply-parser

et-xmlfile

fonttools


future
gunicorn
h5py



kombu

llvmlite
mccabe
mediapipe

mistune

mpmath





pathspec
patsy
pep8

Pillow




pytest

python-lsp-jsonrpc
python-lsp-server

pytz

queuelib


simplejson
sip

sqlparse

statsmodels

tables
tabulate
TBB

tzdata

vine

webencodings

whitenoise

win-unicode-console
wincertstore
wrapt

xlwings

zict
